<!-- header fragment (included into pages) -->
<header>
  <nav class="nav-bar">
    <div class="logo">
      <a href="index.html"><h2>Vishal Choudhary</h2></a>
    </div>
    <ul class="nav-links">
      <li><button><a href="index.html" class="active">Home</a></button></li>
      <li><button><a href="projects.html" class="active">Projects</a></button></li>
      <li><button><a href="about.html" class="active">About</a></button></li>
      <li><button><a href="contact.html" class="active ">Contact</a></button></li>
    </ul>
    <div class="c-t-a">
      <button><a href="contact.html">Connect</a></button>
    </div>
  </nav>
</header>